$orange-color: #ffc000;
$prim-grey: #353537;
$light-blue: #d0eaf9;
$blue-bg: #67879e;
$footer-dark: #252525;

/**
Universal classes
 */
body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    color: #979797;
    height:100%!important;
}

.text-black {
    color: #000 !important;
}

ul {
    padding-left: 0;
    li {
        list-style: none !important;
    }
}

a {
    color: inherit;
}

.active {
    color: #000 !important;
    background-color: transparent !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #000 !important;
    background-color: transparent !important;
}

.padding-zero {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.margin-bot5 {
    margin-bottom: 5px;
}

.margin-bot10 {
    margin-bottom: 10px;
}

.margin-bot15 {
    margin-bottom: 15px;
}

.margin-bot-5percent {
    margin-bottom: 5%;
}

.margin-bot-10percent {
    margin-bottom: 10%;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-top-5percent {
    margin-top: 5%;
}

.margin-top-10percent {
    margin-top: 10%;
}

@font-face {

}



/**
    Ajax
 */

.not-available{
    color:red!important;
}

.available{
    color:green!important;
}


            /**
                HEADER
            */

.transparent-bg {
    background-color: transparent !important;

    .navbar-nav {
        background: transparent !important;
        z-index: 3000 !important;
        position: absolute;
        left: 0;
    }
}

.navbar {
    min-height: 0px !important;
    margin-bottom: 0 !important;

}

#navbar-primary .navbar-nav {
    left: 0;
    width: 100%;
    background-color: #6888a1;
    text-align: center;
    a:hover {
        background-color: transparent !important;
        color: #fff !important;
    }
    > li {
        display: inline-block;
        float: none;
        > a {
            color: $light-blue;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: url(https://i.imgur.com/XggTfnS.png) no-repeat 9px center;
    border:none!important;
    padding: 9px 10px 9px 32px;
    width: 55px;
    color:white!important;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

/* Demo 2 */
#search-field input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#search-field input[type=search]:hover {
    background-color: #fff;
}

#search-field input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#search-field input:-moz-placeholder {
    color: transparent;
}

#search-field input::-webkit-input-placeholder {
    color: transparent;
}

/**
Login form
 */

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

.logo {
    font-family: 'Lobster', cursive;
    color: #fff !important;

}

.fa-search {
    color: $light-blue;
}

/**
    INDEX
 */

.carousel-caption {
    bottom: 35%;
    font-family: 'Lobster', cursive;

}

/* NEWS SECTION */

.image {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 150px !important;
    max-height: 15px !important;
    margin-bottom: 50% !important;
    left: 20% !important;
}

.img-circle {
    border-radius: 50%;
}

.headline {
    font-family: 'lobster', cursive;
}

/* NEWSLETTER SECTION */
.newsletter {
    padding: 5% !important;
    background-image: url("/images/newsletterbg.jpg");
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    background-size: cover;
    color: #fff;

    form{
        padding-top:10px!important;
        padding-bottom:10px!important;

    }

    input {
        border-radius: 0;
        padding:15px!important;

    }

    .fa-envelope-o {
        color: #fff !important;
    }

    .btn-newsletter {
        background-color: #637685 !important;
        color: #fff !important;
        border-radius: 0;
    }

    .input-group-addon {
        background-color: #b8c8d5 !important;

    }
}

/* PRODUCT SECTION */

.product-btn {
    border: 1px solid #000;
    border-radius: 0;
    color: #000;
    padding: 10px;
    width: 70%;
}

/**
 PRODUCT PAGE
 */

.fa-comments-o {
    color: #979797;
}

/**

PRODUCT DETAILS
 */


.like-btn{
    padding:10px;
    border-radius:0!important;
    width:50%!important;
}


.fa-heart-o{
    color:#efb6bf!important;
}
#ingredients{
    .well {
        margin-bottom:2px!important;
        padding: 20px !important;
        background-color: #fff;
        border-radius: 0;
    }
}


.textarea-icon {
    float: left;
    margin-left: 12px;
    margin-top: 14px;
    position: absolute;
    z-index: 3000 !important;
}

.fa-pencil {
    color: #000;
}

.fa-pencil:focus {
    color: transparent;

}

.well {
    min-height: 10px !important;
    padding: 10px !important;
    background-color: #fff;
    border-radius: 0;
}
.comment-count{
    color: #979797;

}

#comment_form {
    textarea {
        border: 1px #eaeaea solid;
        border-radius: 0;
    }
}

.btn-comment {
    background-color: #637685 !important;
    color: #fff !important;
    border-radius: 0;
    padding: 9%;
    margin: auto;
    width: 100%;
    border: none;

}

.comment-article {
    .well {
        margin-bottom: 0 !important;
        padding-bottom: 5% !important;
    }
    h4 {
        color: #000;
    }
}

textarea::placeholder {
    padding-left: 20px !important;
    padding-top: 10px !important;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

/**
CONTACT page
 */

.contact {

}

#contact-form {
    input {
        border-radius: 0;
        border: none;
        margin-bottom: 10px;
    }

    .contact-btn {
        border-radius: 0;
        background-color: #637685;
        color: #fff;
        padding: 10px;
    }

    textarea {
        padding:0;
        resize: none;
        border: none !important;
        border-radius: 0;
        margin-bottom: 10px;

    }

    textarea::placeholder {
        padding:0!important;
        padding-left:10px!important;
    }

}



/*
FOOTER CONTENT
 */
footer {
    bottom:0!important;
    width:100%!important;
}

.footer-logo {
    background-color: $prim-grey !important;
    color: #fff;

    p {
        margin-bottom: 0 !important;
        padding-bottom: 35px;
    }
}

.copyright {
    background-color: $footer-dark !important;
    color: #7f7f7f;
    padding: 15px;
}

@media (max-width: 414px) {
    footer{
        right:0;
        width:100%!important;
        margin-left:20px!important;

    }
    .icon-bar{
        background-color:black;
    }
    .navbar-toggle{
        background-color: rgba(128, 128, 128, 0.21);
    }
    #navbar-primary .navbar-nav > li > a {
        display: block;
        width: 300px;
    }

    .navbar-nav {
        margin: 0;
    }
    .transparent-bg header {
        background-color: #64829a;
    }

    #navbar-primary .navbar-nav > li {
        display: inline-block;
    }
}